<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
    <body>
        <h1>Welcome to the E-commerce Analytics API Portal</h1>
        <ul>
            <li><a href="/generate_random_events">Generate Random Events</a></li>
            <li><a href="/most_viewed_item">Retrieve Most Viewed Item</a></li>
            <li><a href="/top_item_added_to_cart">Retrieve Top Added to Cart Item</a></li>
            <li><a href="/highest_grossing_item">Retrieve Highest Grossing Item</a></li>
        </ul>
    </body>
</html>
